.topicos__titulo {
    color: var(--branco);
    font-weight: 300;
    padding-bottom: var(--text-base);
}

@media screen and (min-width: 1024px) {
    .topicos__titulo {
        font-size: var(--text-2xl);
    }
}