.topicos__link {
    background-color: var(--laranja);
    color: var(--branco);
    padding: var(--text-base) var(--text-2xl);
    font-size: var(--text-sm);
    font-weight: 700;
    line-height: var(--text-xl);
    text-decoration: none;
}

@media screen and (min-width: 1024px) {
    .topicos__link {
        font-size: var(--text-2xl);
        padding: var(--text-2xl) 2rem;
    }
}