.swiper-button {
    display: none;
}


@media screen and (min-width: 1024px) {

    .swiper-button {
        color: var(--branco);
        display: flex;
        justify-content: center;
        align-items: center;
        width: 5vw;
        height: 5vw;
        background: var(--azul-degrade);
        border-radius: 100%;
        transition: .5s ease-in-out;
        top: 50%;
    }
    
    .swiper-button::after {
        font-size: 1.5vw;
        font-weight: 700;
    }
    
    .swiper-button-prev {
        left: 0%;
    }
    .swiper-button-next {
        right: 0%;
    }
}