.card__botoes__item {
    margin: 0 var(--text-1xs);
}

.card__botoes__item > button {
    background: transparent;
    border: none;
    cursor: pointer;
}

@media screen and (min-width: 1024px) {
    .card__botoes__item {
        margin: 0;
    }
}