@import url('/assets/styles/imagem.css');
@import url('/assets/styles/cabecalho.css');
@import url('/assets/styles/menu.css');
@import url('/assets/styles/banner.css');
@import url('/assets/styles/publicidade.css');
@import url('/assets/styles/swiper.css');
@import url('/assets/styles/card.css');
@import url('/assets/styles/rating.css');
@import url('/assets/styles/topicos.css');
@import url('/assets/styles/contato.css');
@import url('/assets/styles/rodape.css');
@import url('/assets/styles/grupo.css');

:root {
    --azul: #002F52;
    --azul-degrade: linear-gradient(98deg, #002F52 35.49%, #326589 165.37%);
    --branco: #FFFFFF;
    --cinza: #858585;
    --cor-de-fundo: #EBECEE;
    --laranja: #EB9B00;
    
    --font-principal: 'Poppins';
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--font-principal);
    font-size: 1rem; /* 16px */
    font-weight: 400;
    line-height: 1.5rem; /* 24px */
}