#menu__hamburguer {
    background: url('/assets/img/Menu.svg') no-repeat center;
    display: inline-block;
    height: 24px;
    width: 36px;
}

#menu__hamburguer::before {
    display: none;
}

@media screen and (min-width: 1024px) {
    #menu__hamburguer {
        display: none;
    }
}