@import url('./card-descricao-titulo.css');
@import url('./card-descricao-subtitulo.css');
@import url('./card-descricao-texto.css');
@import url('./card-descricao-imagem.css');

.card__descricao {
    display: flex;
    gap: var(--text-sm);
    justify-content: space-between;
    margin-bottom: var(--text-3xs);
}

@media screen and (min-width: 1024px) {
    .card__descricao {
        gap: 5rem;
    }
}