@import url('./opcoes-titulo.css');
@import url('./opcoes-item.css');
@import url('./opcoes-link.css');

#opcoes,
#opcoes__menu {
    display: none;
}

@media screen and (min-width: 1024px) {
    #opcoes {
        display: flex;
        align-items: center;
    }
}