.publicidade__titulo {
    background-color: var(--branco);
    color: var(--laranja);
    font-size: var(--text-lg);
    font-weight: 700;
    padding-bottom: var(--text-2xs);
    padding-top: var(--text-xl);
    text-align: center;
    text-transform: uppercase;
}

@media screen and (min-width: 1024px) {
    .publicidade__titulo {
        font-size: 1.625rem;
        padding-bottom: 1rem;
        padding-top: 3.125rem;
    }
}