.banner__pesquisa {
    background: transparent;
    border: 1px solid var(--branco);
    border-radius: var(--text-2xl);
    color: var(--branco);
    padding: var(--text-base);
    font-size: var(--text-sm);
    max-width: 23.75rem;
    width: 100%;
}

.banner__pesquisa::placeholder {
    background: transparent;
    color: var(--branco);
    font-family: var(--font-principal);
    font-size: var(--text-sm);
    font-weight: 400;
    text-align: center;
}

@media screen and (min-width: 400px) {
    .banner__pesquisa::placeholder {
        background: url('/assets/img/Pesquisa.svg') no-repeat var(--text-base);
        background-size: contain;
    }
}

@media screen and (min-width: 1024px) {
    .banner__pesquisa {
        max-width: 29.75rem;
    }

    .banner__pesquisa::placeholder {
        background-position: 5rem center;
    }
}

@media screen and (min-width: 1728px) {
    .banner__pesquisa {
        max-width: 36rem;
    }

    .banner__pesquisa::placeholder {
        background-position: 8rem center;
    }
}