.card {
    background: var(--branco);
    border-radius: 0.625rem;
    box-shadow: 0rem 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
    margin: 1.25rem 1.5rem;
    padding: 1rem;
    padding-bottom: 1.4375rem;
}

.card__descricao {
    display: flex;
    gap: 1.5rem;
    justify-content: space-between;
    margin-bottom: 0.3125rem;
}

.card__descricao__titulo {
    color: var(--laranja);
    font-weight: 700;
}

.card__descricao__subtitulo {
    background: var(--azul-degrade);
    background-clip: text;
    font-size: 1.125rem;
    font-weight: 700;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.card__descricao__texto {
    color: #262626;
    font-size: 0.875rem;
}

.card__descricao__imagem {
    width: 50%;
    height: 50%;
}

.card__botoes {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.card__botoes__btn-container {
    align-items: center;
    display: flex;
    gap: 0.25rem;
}

.card__botoes__item {
    margin: 0rem 0.625rem;
}

.card__botoes__item > button {
    background: transparent;
    border: none;
    cursor: pointer;
}

.card__botoes__ancora {
    background-color: var(--laranja);
    color: var(--branco);
    font-weight: 700;
    padding: 0.75rem 2.15625rem;
    text-decoration: none;
}