.grupo__titulo {
    color: var(--cinza);
    font-size: var(--text-sm);
    text-transform: uppercase;
    margin-bottom: var(--text-2xl);
}

.grupo__lista {
    display: flex;
    flex-direction: column;
    gap: var(--text-base);
}

.grupo__item {
    color: #474646;
    font-size: var(--text-sm);
    display: flex;
    align-items: center;
    gap: var(--text-2xs);
}
