#rodape {
    background: #F9F9F9;
    border-top: 1px solid var(--cinza);
    display: flex;
    justify-content: space-between;
    padding: 1.0625rem 3.125rem 1.5rem 1.5rem;
}

#rodape__grupos {
    display: none;
}