.topicos {
    align-items: center;
    background: var(--azul-degrade);
    display: flex;
    flex-direction: column;
    padding: var(--text-4xl) 0;
    text-align: center;
}

.topicos__titulo {
    color: var(--branco);
    font-weight: 300;
    padding-bottom: var(--text-base);
}

.topicos__lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 37.5rem;
}

.topicos__item {
    margin: var(--text-2xl) var(--text-2xs);
}

.topicos__link {
    background-color: var(--laranja);
    color: var(--branco);
    padding: var(--text-base) var(--text-2xl);
    font-size: var(--text-sm);
    font-weight: 700;
    line-height: var(--text-xl);
    text-decoration: none;
}