@import url('./card-textContainer.css');
@import url('./card-descricao/card-descricao.css');
@import url('./card-botoes/card-botoes.css');

.card {
    background: var(--branco);
    border-radius: var(--text-1xs);
    box-shadow: 0 var(--text-3xs) var(--text-3xs) rgba(0, 0, 0, 0.25);
    margin: var(--text-xl) var(--text-2xl);
    padding: var(--text-base);
}

@media screen and (min-width: 1024px) {
    .card {
        display: flex;
        flex-direction: column;
        gap: 1.25rem;
        margin-bottom: 3rem;
    }
}

@media screen and (min-width: 1728px) {
    .card {
        max-width: 36.75rem;
        margin: 0;
    }
}