@import url('./grupo-titulo.css');
@import url('./grupo-lista.css');
@import url('./grupo-item.css');

.grupo {
    display: flex;
    flex-direction: column;
    gap: var(--text-2xl);
}

@media screen and (min-width: 1728px) {
    .grupo {
        padding-left: 1.25rem;
        border-left: 1px solid #858585;
    }
}