@import url('./cabecalho-container.css');

#cabecalho {
    align-items: center;
    background: var(--branco);
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 100;
}