@import url('./cabecalho-container.css');
@import url('./cabecalho-titulo.css');
@import url('./cabecalho-link.css');
@import url('./cabecalho-link-text.css');

#cabecalho {
    align-items: center;
    background: var(--branco);
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 100;
    padding-right: var(--text-2xs);
}

@media screen and (min-width: 1024px) {
    #cabecalho {
        padding: var(--text-lg) 5rem;
    }
}

