.banner {
    align-items: center;
    background: var(--azul-degrade);
    color: var(--branco);
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 2rem 1.5rem;
    text-align: center;
}

.banner__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.banner__titulo {
    font-size: 1.125rem; /* 18px */ 
    font-weight: 700;
}

.banner__texto {
    font-weight: 500;
    width: 100%;
}

@media screen and (max-width: 428px) {
    .banner__texto {
        width: 19.75rem;
    }
}